//fonts
@font-face {
  font-family: 'Segoeui';
  src: url(../fonts/segoeui.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Segoeui';
  src: url(../fonts/segoeuisemibold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Segoeui';
  src: url(../fonts/segoeuilight.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoeui';
  src: url(../fonts/segoeuibold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}