$green: #a6bc00;
$orange: #ee7900;
$blue: #186b9d;

$main-color: $green;
$secondary-color: $orange;
$text-color: $blue;
$grey: #f4f6fa;

$grey-m: #b3b8c6;

$grey-dark: #818181;
$s-normal: 'Segoeui', sans-serif;
$transition: all .2s ease-in-out;
