#container .threesixty {
  position: absolute;
  overflow: hidden;
  width: 800px;
  height: 800px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  border-radius: 15px;
  transition: 0.3s;
}
#container .threesixty:hover {
    background: #eee;
}
#container .threesixty .spinner {
  width: 60px;
  display: block;
  margin: 0 auto;
  height: 30px;
  background: rgba(250,120,0,1);
}
#container .threesixty .spinner span {
  font-size: 16px;
  font-weight: bolder;
  color: #FFF;
  text-align: center;
  line-height: 30px;
  display: block;
}
#container .threesixty .threesixty_images {
  position: absolute;
  display: none;
  list-style: none;
  left: 0; right: 0;
  margin: 0 auto;
  padding: 0;
}
#container .threesixty .threesixty_images img {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}
#container .threesixty .threesixty_images img.current-image {
  visibility: visible;
  width: 100%;
}
#container .threesixty .threesixty_images img.previous-image {
  visibility: hidden;
  width: 0;
}
#container .threesixty .nav_bar {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 48px;
  padding: 10px;
  margin: auto;
  width: 96px;
  height: 32px;
  background: rgba(255,255,255,0.2);
  border-left: 3px solid #bc2;
  border-right: 3px solid #bc2;
  z-index: 11;
  transition: 0.3s;
}
#container .threesixty .nav_bar:hover {
    background: rgba(255,255,255,0.5);
    padding: 10px 30px;
}
#container .threesixty .nav_bar a {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  background: url(../images/sprites.png) no-repeat;
  text-indent: -99999px;
}
#container .threesixty .nav_bar a.nav_bar_previous {
  background-position: 0 -73px;
}
#container .threesixty .nav_bar a.nav_bar_next {
  background-position: 0 -104px;
}
#container .threesixty .nav_bar a.nav_bar_play {
  background-position: 0 0;
}
#container .threesixty .nav_bar a.nav_bar_stop {
  background-position: 0 -37px;
}
